
.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/libraries/apache_mime4j_core_0_7.xml

.idea/libraries/crawler4j_3_5__2_.xml

.idea/libraries/crawler4j_3_5_dependencies.xml

.idea/libraries/crawler4j_3_5.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

Assignment 3.iml

*.class

*.iml

*.0

*.jdb

*.lck

*.txt

*.1

out/production/Assignment 3/log4j.properties
